body{

background:#0b0b0b;

color:white;

font-family:Poppins,sans-serif;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}


.container{

text-align:center;

}


.exam-box button{

padding:15px 30px;

margin:10px;

background:red;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

}


.exam-box button:hover{

transform:scale(1.05);

}